.header1 {
    background: whitesmoke;
    display: flex;
    justify-content: space-around;
}

.header1Div1 {
    display: flex;
    justify-content: flex-start;
}
.header1Div2 {
    display: flex;
    justify-content: flex-end;
}

.header1Items {
    text-decoration: none;
    color: black;
    padding-left: 10px;
}