.navbar {
    background: linear-gradient(270deg, rgba(14,5,173,1) 8%, rgba(10,10,247,1) 51%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
}
.navDivRight {
    display: flex;
}
.navItemRight {
    padding-left: 40px;
}
.navLink {
    color: white;
}