.footer {
    background-color: azure;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 15px;
}

.footerItem {
    display: flex;
    padding-left: 5px;
    text-decoration: none;
}
.footerItemText {
    padding-left: 10px;
}